ion-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.radius-thumb {
    border-radius: 50%;
}

.borda-inferior {
    border-radius: 0 0 90px 90px;
    padding-bottom: 20px;
}

