#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-slides {
  margin: 0 15px !important;
}

// input.searchbar-input.sc-ion-searchbar-md {
//   font-size: 14px !important;
//   font-weight: 600 !important;
// }

h3 {
  color: #bfbfbf;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 5px;
}

.artist-style {
  color: #bfbfbf;
  font-size: 0.9rem;
  margin-left: 2vh;
  font-weight: 600;
  // color: map-get($colors, primary);
}

.song-name-style {
  color: #bfbfbf;
  font-size: 0.9rem;
  font-weight: 600;
}

// .song-artist-style {
//   color: #bfbfbf;
//   font-size: 0.9rem;
//   font-weight: 600;
//   color: map-get($colors, primary);
// }